langchain
ipykernel
python-dotenv
langchain_community
pypdf
PyMuPDF
langchain-text-splitters
sentence_transformers
langchain_huggingface
langchain
streamlit
langchain_groq
langchain_core
pinecone
langchain_pinecone
sentence_transformers






