streamlit
python-dotenv
ipykernel
uvicorn
langserve
sse_starlette

crewai
crewai-tools

langchain==0.3.27
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-openai
langchain-pinecone
langchain-chroma
langchain-ollama
langchain-text-splitters

sentence-transformers
faiss-cpu
pinecone

pypdf
PyMuPDF

pandas
matplotlib
seaborn
plotly

bs4
arxiv
wikipedia
ddgs
chromadb

